	<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PlayFuse</title>
        <!-- <link rel='stylesheet prefetch' href='http://music.waitlisters.org/css/fontawesome-all.min.css'> -->
        <link rel='stylesheet prefetch' href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        <br><br>
        <h1>PlayFuse</h1>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body style="background-color: #ff564c;">
        <!-- PRESS THE MENU BUTTON TO TRIGGER ANIMATION -->
        <!-- PRESS PLAY BUTTON TO LISTEN THE DEMO SONG -->
        <!-- As seen o0:00http0:00dribbble.com/shots/2144866-Day-5-Music-Player-Rebound/" -->
        <!-- THANK YOU! -->
        <article class="screen">
            <input type="checkbox" value="None" id="magicButton" name="check" />
            <label class="main" for="magicButton"></label>
            <div class="coverImage"></div>
            <br>
            <!--<table class="icons" style="float: right;">
			  <tr>
			    <th class=""><a href="" class="icon fa-spotify"><span class="label"></span></a></th>
			    <th class=""><a href="" class="icon fa-play"><span class="label"></span></a></th>
			  </tr>
			</table>-->
			
            <!-- <div class="search"></div> -->
            <!-- <div class="box" style="float: right;">
			  <div class="container-4">
			    <input type="search" id="search" placeholder="Search" />
			    <button class="icon"><i class="fa fa-search"></i></button>
			  </div>
			</div> -->
			<form id="search_form">
				<button type="submit" style="float: right">Send your message</button>
				<input type="search" style="float: right;" id="search_bar">
			</form>
			<input type="button" id="get_playlists" class="button" style="float: right;" value="Get Playlists">
			
			<!-- The Modal -->
			<div id="myModal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
				<span class="close">&times;</span>
				<p>Enter platform credentials</p>
				<form id="login_form">
					Username: <input type="text" name="username" id="username">
					<br>
					Password: <input type="text" name="password" id="password">
					<br>
					<br>
					<input type="radio" id="spotify" name="platform1" class="platformbtn" value="spotify"> Spotify<br>
					<input type="radio" id="google play" name="platform1" class="platformbtn" value="google music"> Google Play<br>
					<br>
					<input type="submit" name="submit" id="submit">
				</form>
			  </div>

			</div>
			
			
			
            <input type="button" id="load_songs" class="button" style="float: right;" value="Load Songs">
			
			<input type="button" id="login" class="button" style="float: right;" value="Login">	
			
			<!-- The Modal -->
			<div id="myModal2" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
				<span class="close">&times;</span>
				<p>Select Platform</p>
				<form id="playlist_form">
					<input type="radio" id="spotify" name="platform2" class="platformbtn" value="spotify"> Spotify<br>	
					<input type="radio" id="google play" name="platform2" class="platformbtn" value="google music"> Google Play<br>
					<br>
					<input type="submit" name="submit" id="submit">
				</form>
			  </div>

			</div>
			
			<div id="myModal3" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
				<span class="close">&times;</span>
				<p>Enter info</p>
				<form id="loadsong_form">
					Playlist Name: <input type="text" name="playlist" id="playlist">
					<br>
					<input type="radio" id="spotify" name="platform3" class="platformbtn" value="spotify"> Spotify<br>	
					<input type="radio" id="google play" name="platform3" class="platformbtn" value="google music"> Google Play<br>
					<br>
					<input type="submit" name="submit" id="submit">
				</form>
			  </div>

			</div>
            <!-- <input class="search" type="search" id="mySearch" placeholder="Search for music" style="float: right;"> -->
            <div class="bodyPlayer"></div>
            <table class="list" id="song_list">
				<!--
                <tr class="song">
                    <td class="nr">
                       <h5>SONG_NUM</h5>
                    </td>
                    <td class="title">
                        <h6>SONG_NAME</h6>
                    </td>
                    <td class="length">
                        <h5>0:00<h5>
                    </td>
                    <td><input type="checkbox"/><label></label></td>
                </tr>
                <tr class="song">
                    <td class="nr">
                       <h5>SONG_NUM</h5>
                    </td>
                    <td class="title">
                        <h6>SONG_NAME</h6>
                    </td>
                    <td class="length">
                        <h5>0:00<h5>
                    </td>
                    <td><input type="checkbox" checked /><label></label></td>
                </tr>
                <tr class="song">
                    <td class="nr">
                       <h5>SONG_NUM</h5>
                    </td>
                    <td class="title">
                        <h6>SONG_NAME</h6>
                    </td>
                    <td class="length">
                        <h5>0:00<h5>
                    </td>
                    <td><input type="checkbox"/><label></label></td>
                </tr>
                <tr class="song">
                    <td class="nr">
                       <h5>SONG_NUM</h5>
                    </td>
                    <td class="title">
                        <h6>SONG_NAME</h6>
                    </td>
                    <td class="length">
                        <h5>0:00<h5>
                    </td>
                    <td><input type="checkbox"checked /><label></label></td>
                </tr>
                <tr class="song">
                    <td class="nr">
                       <h5>SONG_NUM</h5>
                    </td>
                    <td class="title">
                        <h6>SONG_NAME</h6>
                    </td>
                    <td class="length">
                        <h5>0:00<h5>
                    </td>
                    <td><input type="checkbox"/><label></label></td>
                </tr>
                <tr class="song">
                    <td class="nr">
                       <h5>SONG_NUM</h5>
                    </td>
                    <td class="title">
                        <h6>SONG_NAME</h6>
                    </td>
                    <td class="length">
                        <h5>0:00<h5>
                    </td>
                    <td><input type="checkbox"/><label></label></td>
                </tr>
                <tr class="song">
                    <td class="nr">
                       <h5>SONG_NUM</h5>
                    </td>
                    <td class="title">
                        <h6>SONG_NAME</h6>
                    </td>
                    <td class="length">
                        <h5>0:00<h5>
                    </td>
                    <td><input type="checkbox"/><label></label></td>
                </tr>
                <tr class="song">
                    <td class="nr">
                       <h5>SONG_NUM</h5>
                    </td>
                    <td class="title">
                        <h6>SONG_NAME</h6>
                    </td>
                    <td class="length">
                        <h5>0:00<h5>
                    </td>
                    <td><input type="checkbox"/><label></label></td>
                </tr>
                <tr class="song">
                    <td class="nr">
                       <h5>SONG_NUM</h5>
                    </td>
                    <td class="title">
                        <h6>SONG_NAME</h6>
                    </td>
                    <td class="length">
                        <h5>0:00<h5>
                    </td>
                    <td><input type="checkbox"/><label></label></td>
                </tr>
				-->
            </table>
            <div class="shadow"></div>
            <div class="bar"></div>
            <div class="info" id="playlist-info">
                <h4>[CURRENT_SONG]</h4>
                <h3>[ARTIST_NAME] - [SONG_NAME]</h3>
            </div>
            <br>
<!--             <f preload="auto" id="audio" controls>
                <source src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3">
                <source src="http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.ogg">
            </audio> -->
<!--             <table class="player">
                <td><input type="checkbox" id="backward"/><label class="backward" for="backward"></label></td>
                <td><input type="checkbox" id="play" title="Play" onclick="togglePlayPause()"/><label class="play" for="play"></label></td>
                <td><input type="checkbox" id="forward"/><label class="forward" for="forward"></label></td>
            </table> -->
            <!-- 				<table class="footer">
                <td><input type="checkbox" id="love" checked /><label class="love" for="love"></label></td>
                <td><input type="checkbox" id="shuffle"/><label class="shuffle" for="shuffle"></label></td>
                <td><input type="checkbox" id="repeat" checked /><label class="repeat" for="repeat"></label></td>
                <td><input type="checkbox" id="options"/><label class="options" for="options"></label></td>
                </table> -->
            <div class="current">
                <h2></h2>
            </div>
        </article>
        <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    </body>
</html>